show: {{this.show}}<br>

<br>-----<br>

{{#if this.show}}
  {{#let (this.myHelper) as |instance|}}
    {{instance.aProperty}}
  {{/let}}
{{/if}}

<br>-----<br>

<button {{on 'click' this.toggle}}>
  toggle
</button>